.paragraph-container,
.element-display-container.element-display-1,
.element-display-container.element-display-2,
.element-display-container.element-display-3,
.element-display-container.element-display-4 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 340px;
  background-color: #ddd;
  margin-top: 0;
  transition: all 0.3s;
}
.element-display-container.element-display-1,
.element-display-container.element-display-2,
.element-display-container.element-display-3,
.element-display-container.element-display-4 {
  transition: all 0s;
  overflow-x: hidden;
}

.paragraph-container h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.2em;
  font-weight: 500;
  text-align: center;
}

.paragraph-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  border-left: 3px solid rgb(90, 16, 124);
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.element-display {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1385px;
  transform: translate(-50%, 0);
}
.element-display-container.element-display-1 .element-display {
  width: 340px;
}
.element-display-container.element-display-2 .element-display {
  width: 700px;
}
.element-display-container.element-display-3 .element-display {
  width: 1040px;
}
.element-display-container.element-display-4 .element-display {
  width: 1385px;
}

.element-container {
  position: relative;
  width: 290px;
  height: 290px;
  margin: 25px 25px;
  border-radius: 35px 0 35px 0;
  border: 3px solid rgb(90, 16, 124);
  float: left;
}
.element-icon {
  position: absolute;
  top: 3%;
  left: 7%;
  background-color: #ddd;
}
.element-title {
  position: absolute;
  top: 5%;
  left: 50%;
}
.element-title h2 {
  font-family: Helvetica, sans-serif;
}
.element-text {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  height: 55%;
  border-radius: 0 0 20px 0;
  overflow: hidden;
}

@media all and (max-width: 1800px) {
  .paragraph-container {
    height: 500px;
    transition: all 0.3s;
  }
  .element-display-container.element-display-4 .element-display {
    width: 1040px;
    height: 700px;
  }
  .element-display-container.element-display-4 {
    height: 700px;
  }
}

@media all and (max-width: 1370px) {
  .element-display-container.element-display-3 .element-display {
    width: 700px;
    height: 700px;
  }
  .element-display-container.element-display-3 {
    height: 700px;
  }
  .element-display-container.element-display-4 .element-display {
    width: 700px;
    height: 700px;
  }
  .element-display-container.element-display-4 {
    height: 700px;
  }
}
@media all and (max-width: 900px) {
  .element-display-container.element-display-2 .element-display {
    width: 340px;
    height: 700px;
  }
  .element-display-container.element-display-2 {
    height: 700px;
  }
  .element-display-container.element-display-3 .element-display {
    width: 340px;
    height: 1040px;
  }
  .element-display-container.element-display-3 {
    height: 1040px;
  }
  .element-display-container.element-display-4 .element-display {
    width: 340px;
    height: 1385px;
  }
  .element-display-container.element-display-4 {
    height: 1385px;
  }
}
